<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Climb Recorder</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<center>
    <nav class="navMenu">
        <a href="#">Accueil</a>
        <a href="#licencies">Licenciés</a>
        <a href="#voies">Voies</a>
        <a href="#">Cours</a>
    </nav>
    <div class="separator"></div>
</center>


<div id="app" class="container">
    <h2 id="licencies">Liste des licenciés du club :</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Identifiant</th>
            <th>Numéro licence FFME</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Initiateur</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="personne in personnes" :key="personne.idPersonne" v-on:click="selectPersonne(personne)">
            <td>{{ personne.idPersonne }}</td>
            <td><img v-bind:src="getNumLicence(personne.numLicence)" :alt="personne.numLicence"></td>
            <td>{{ personne.nom }}</td>
            <td>{{ personne.prenom }}</td>
            <td><img v-bind:src="getInitiateurIcon(personne.estInitiateur)" alt="Initiateur"></td>
        </tr>
        </tbody>
    </table>
    <br>


    <h2 id="voies">Liste des voies du club :</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Identifiant</th>
            <th>Secteur</th>
            <th>Couleur</th>
            <th>Niveau</th>
            <th>Ouvreur</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="voie in voies" :key="voie.idVoie" >
            <td>{{ voie.idVoie }}</td>
            <td>{{voie.secteur}}</td>
            <td>{{ voie.couleur }}</td>
            <td v-if="parseInt(voie.niveau.charAt(0))>6">{{ voie.niveau }}<span class="point" style="color: red; font-size: 60px">&#8226;</span></td>
            <td v-if="[5,6].includes(parseInt(voie.niveau.charAt(0)))">{{ voie.niveau }}<span class="point" style="color: orange; font-size: 60px">&#8226;</span></td>
            <td v-if="parseInt(voie.niveau.charAt(0))<5">{{ voie.niveau }}<span class="point" style="color: limegreen; font-size: 60px">&#8226;</span></td>
            <td>{{voie.prenom}}  {{voie.nom}}</td>
        </tr>
        </tbody>
    </table>
</div>
<script src="script.js"></script>
</body>
</html>
