<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Informations de la voie</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<center>
    <nav class="navMenu">
        <a href="index.html">Accueil</a>
        <a href="index.html#licencies">Licenciés</a>
        <a href="index.html#voies">Voies</a>
    </nav>
    <div class="separator"></div>
</center>
<div id="app">
    <div class="fieldsets">
        <fieldset class="fieldsetInfo">
            <legend>Informations de la voie</legend>
            <p id="idVoie">Identifiant : {{ voie.idVoie }}</p>
            <p>Secteur : {{ voie.secteur }}</p>
            <p>Couleur : {{ voie.couleur }}</p>
            <p v-if="parseInt(voie.niveau.charAt(0))>6">Cotation : {{ voie.niveau }}<span class="point"
                                                                                          style="color: red; font-size: 60px">&#8226;</span>
            </p>
            <p v-if="[5,6].includes(parseInt(voie.niveau.charAt(0)))">Cotation : {{ voie.niveau }}<span class="point"
                                                                                                        style="color: orange; font-size: 60px">&#8226;</span>
            </p>
            <p v-if="parseInt(voie.niveau.charAt(0))<5">Cotation : {{ voie.niveau }}<span class="point"
                                                                                          style="color: limegreen; font-size: 60px">&#8226;</span>
            </p>
            <p v-on:click="selectPersonne(voie.ouvreur)" id="ouvreur">Ouvreur : {{ voie.prenom }} {{voie.nom}} (Identifiant :
                {{voie.ouvreur}})</p>

            <div class="buttons">
                <button v-on:click="deleteVoie(voie.idVoie)" class="buttons" id="delete"><img src="delete.svg"
                                                                                              class="icons"></img>
                </button>

                <button class="buttons" id="afficherFormulaireGrimpeur" onclick="afficherFormulaireGrimpeur()"><img
                        src="done.svg" class="icons">
                </button>

                <!-- Formulaire d'ajout de grimpeur -->
                <div id="formulaireContainerGrimpeur" style="display: none;" class="form">
                    <form autocomplete="off" id="formGrimpeur">
                        <span id="fermerFormulaireVoie" onclick="cacheFormulaireGrimpeur()">&times;</span>
                        <label for="personnes">Grimpeur :</label>
                        <select id="personnes" name="personnes">
                            <!-- Les options seront ajoutées dynamiquement avec JavaScript -->
                        </select>
                        <br>
                        <button type="button" onclick="ajouterGrimpe()">Ajouter</button>
                    </form>
                </div>
            </div>
        </fieldset>
        <fieldset class="fieldsetInfo">
            <legend>Les grimpeurs</legend>
            <table class="table">
                <thead>
                <tr>
                    <th>Identifiant de la personne</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="personne in personne" :key="personne.idPersonne" v-on:click="selectPersonne(personne)">
                    <td>{{ personne.idPersonne }}</td>
                    <td>{{ personne.nom }}</td>
                    <td>{{ personne.prenom }}</td>
                    <td>{{ personne.date }}</td>
                </tr>
                </tbody>
            </table>
        </fieldset>
    </div>
</div>
<script src="scriptInfoVoie.js"></script>
<script>
    //hide the form when click on the button afficherFormulaireGrimpeur
    function afficherFormulaireGrimpeur() {
        document.getElementById("formulaireContainerGrimpeur").style.display = "block";
        chargerPersonnes();
    }

    function cacheFormulaireGrimpeur() {
        document.getElementById("formulaireContainerGrimpeur").style.display = "none";
    }

    function chargerPersonnes() {
        fetch('http://localhost:3000/personnes')
            .then(function (response) {
                return response.json();
            })
            .then(function (data) {
                // Ajouter les options au menu déroulant
                var select = document.getElementById('personnes');
                data.forEach(function (personne) {
                    var option = document.createElement('option');
                    option.value = personne.idPersonne;
                    option.textContent = personne.prenom + ' ' + personne.nom;
                    select.appendChild(option);
                });
            })
            .catch(function (error) {
                console.log(error);
            });
    }

    function ajouterGrimpe() {
        // Récupérer les valeurs des champs du formulaire
        var grimpeur = document.getElementById('personnes').value;
        var voie = document.getElementById('idVoie').innerHTML.split(" ")[2];

        fetch(`http://localhost:3000/voies/faite/${voie}/${grimpeur}`)
            .then(response => response.json())
            .then(data => {

            });
        window.location.href = "infoVoie.html?id=" + voie;
    }

</script>
</body>
</html>
