<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Informations personnelles</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<center>
    <nav class="navMenu">
        <a href="index.html">Accueil</a>
        <a href="index.html#licencies">Licenciés</a>
        <a href="index.html#voies">Voies</a>
        <a href="#">Cours</a>
    </nav>
    <div class="separator"></div>
</center>
<div id="app">
    <div>
        <fieldset class="fieldsetInfo">
            <legend>Informations de la personne</legend>
            <p>Identifiant : {{ personne.idPersonne }}</p>
            <p v-if="personne.numLicence!=null">Numéro de licence FFME : {{personne.numLicence}}</p>
            <p>Nom : {{ personne.nom }}</p>
            <p>Prénom : {{ personne.prenom }}</p>
            <p v-if="personne.estInitiateur=1">Initiateur</p>
        </fieldset>
    </div>
</div>
    <script src="scriptInfoPersonne.js"></script>

    <fieldset class="barChart">
        <legend>Nombre de voies par cotation</legend>
        <div id="voiesChart">
            <canvas id="nbVoies"></canvas>
        </div>
    </fieldset>


    <fieldset class="barChart">
        <legend>5 dernières voies</legend>
        <div id="dernieresVoiesChart">
            <canvas id="dernieresVoies"></canvas>
        </div>
    </fieldset>

<div class="space"></div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>
</html>
