<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Climb Recorder</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<center>
    <nav class="navMenu">
        <a href="index.html">Accueil</a>
        <a href="index.html#voies">Voies</a>
        <a href="index.html#blocs">Blocs</a>
        <a href="login.html" id="login">Connexion</a>
        <a href="signup.html" id="signup">Création d'un compte</a>
        <button id="logoutButton">Se déconnecter</button>
    </nav>
    <div class="separator"></div>
</center>

<div id="app" class="container">
    <h2 id="licencies">Liste des licenciés du club :</h2>

    <table v-if="personnes.length > 0" class="table">
        <thead>
        <tr>
            <th>Numéro licence FFME</th>
            <th>Nom</th>
            <th>Prénom</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="personne in personnes" :key="personne.idPersonne" v-on:click="selectPersonne(personne)">
            <td v-if="personne.numLicence==null"><img src="assets/noLicence.png" alt="personne.numLicence"></td>
            <td v-else>{{personne.licence}}</td>
            <td>{{ personne.name }}</td>
            <td>{{ personne.firstname }}</td>
        </tr>
        </tbody>
    </table>
    <p v-else-if="personnes.length === 0">Aucune donnée disponible.</p>
    <br>


    <h2 id="voies">Liste des voies du club :</h2>

    <button id="afficherFormulaireVoie" class="button-form">Ajouter une voie</button>
    <!-- Formulaire de création de voie -->

    <div id="formulaireContainerVoie" style="display: none;" class="form">
        <span id="fermerFormulaireVoie">&times;</span>
        <form id="formVoie" autocomplete="off">
            <label for="secteur">Secteur :</label>
            <input type="number" id="secteur" name="secteur" min="1">
            <br>

            <label for="couleur">Couleur :</label>
            <input type="text" id="couleur" name="couleur">
            <br>

            <label for="difficulte">Difficulté :</label>
            <select id="difficulte" name="difficulte">
                <option value="4a">4a</option>
                <option value="4b">4b</option>
                <option value="4c">4c</option>
                <option value="5a">5a</option>
                <option value="5b">5b</option>
                <option value="5c">5c</option>
                <option value="6a">6a</option>
                <option value="6b">6b</option>
                <option value="6c">6c</option>
                <option value="7a">7a</option>
                <option value="7b">7b</option>
                <option value="7c+">7c & +</option>
            </select>
            <br>

            <label for="personnes">Ouvreur :</label>
            <select id="personnes" name="personnes"></select>
            <br>

            <label for="image">Photo (optionnel) :</label> <br>
            <input type="file" id="image" name="image" accept="image/png, image/jpeg"/>
            <br>

            <button type="button" onclick="ajouterVoie()" class="button-form">Ajouter</button>
            <p id="erreurVoie">Une erreur s'est produite, merci de réessayer.</p>
        </form>
    </div>

    <table v-if="voies.length > 0" class="table">
        <thead>
        <tr>
            <th>Secteur</th>
            <th>Couleur</th>
            <th>Niveau</th>
            <th>Ouvreur</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="voie in voies" :key="voie._id" v-on:click="selectVoie(voie)">
            <td>{{voie.secteur}}</td>
            <td>{{ voie.couleur }}</td>
            <td v-if="parseInt(voie.cotation.charAt(0))>6">{{ voie.cotation }}<span class="point"
                                                                                    style="color: red; font-size: 60px">&#8226;</span>
            </td>
            <td v-if="[5,6].includes(parseInt(voie.cotation.charAt(0)))">{{ voie.cotation }}<span class="point"
                                                                                                  style="color: orange; font-size: 60px">&#8226;</span>
            </td>
            <td v-if="parseInt(voie.cotation.charAt(0))<5">{{ voie.cotation }}<span class="point"
                                                                                    style="color: limegreen; font-size: 60px">&#8226;</span>
            </td>
            <td>{{voie.nomOuvreur}}</td>
        </tr>
        </tbody>
    </table>
    <p v-else-if="voies.length === 0">Aucune donnée disponible.</p>

    <h2 id="blocs">Liste des blocs du club :</h2>

    <button id="afficherFormulaireBloc" class="button-form">Ajouter un bloc</button>

    <div id="formulaireContainerBloc" style="display: none;" class="form">
        <span id="fermerFormulaireBloc">&times;</span>
        <form id="formBloc" autocomplete="off">
            <label for="secteur">Secteur :</label>
            <input type="text" id="secteurBloc" name="secteur" min="1">
            <br>

            <label for="couleur">Couleur :</label>
            <input type="text" id="couleurBloc" name="couleur">
            <br>

            <label for="difficulte">Difficulté :</label>
            <select id="difficulteBloc" name="difficulte">
                <option value="4a">4a</option>
                <option value="4b">4b</option>
                <option value="4c">4c</option>
                <option value="5a">5a</option>
                <option value="5b">5b</option>
                <option value="5c">5c</option>
                <option value="6a">6a</option>
                <option value="6b">6b</option>
                <option value="6c">6c</option>
                <option value="7a">7a</option>
                <option value="7b">7b</option>
                <option value="7c+">7c & +</option>
            </select>
            <br>

            <label for="personnes">Ouvreur :</label>
            <select id="personnesBloc" name="personnes"></select>
            <br>

            <label for="image">Photo (optionnel) :</label> <br>
            <input type="file" id="imageBloc" name="image" accept="image/png, image/jpeg"/>
            <br>

            <button type="button" onclick="ajouterBloc()" class="button-form">Ajouter</button>
            <p id="erreurBloc">Une erreur s'est produite, merci de réessayer.</p>
        </form>
    </div>

    <table v-if="blocs.length > 0" class="table">
        <thead>
        <tr>
            <th>Secteur</th>
            <th>Couleur</th>
            <th>Niveau</th>
            <th>Ouvreur</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="bloc in blocs" :key="bloc._id" v-on:click="selectBloc(bloc)">
            <td>{{bloc.secteur}}</td>
            <td>{{ bloc.couleur }}</td>
            <td v-if="parseInt(bloc.cotation.charAt(0))>6">{{ bloc.cotation }}<span class="point"
                                                                                    style="color: red; font-size: 60px">&#8226;</span>
            </td>
            <td v-if="[5,6].includes(parseInt(bloc.cotation.charAt(0)))">{{ bloc.cotation }}<span class="point"
                                                                                                  style="color: orange; font-size: 60px">&#8226;</span>
            </td>
            <td v-if="parseInt(bloc.cotation.charAt(0))<5">{{ bloc.cotation }}<span class="point"
                                                                                    style="color: limegreen; font-size: 60px">&#8226;</span>
            </td>
            <td>{{bloc.nomOuvreur}}</td>
        </tr>
        </tbody>
    </table>
    <p v-else v-if="blocs.length === 0">Aucune donnée disponible.</p>

</div>


<script>
    // Vérifier si un token est présent dans le localStorage
    const token = localStorage.getItem('token');
    if (!token) {
        // Rediriger vers la page de connexion si l'utilisateur n'est pas connecté
        window.location.href = 'login.html';
    }

    document.getElementById('login').addEventListener('click', function () {
        localStorage.removeItem('token');
    });

    document.getElementById('signup').addEventListener('click', function () {
        localStorage.removeItem('token');
    });

    document.getElementById('logoutButton').addEventListener('click', function () {
        // Supprimer le token JWT stocké dans le localStorage
        localStorage.removeItem('token');

        // Rediriger l'utilisateur vers la page de connexion
        window.location.href = 'login.html';
    });


</script>
<script src="script.js"></script>
<script>
    /**
     * Charge les utilisateurs dans la liste de création d'une voie
     */
    function chargerPersonnes() {
        const token = localStorage.getItem('token');
        fetch('http://localhost:3000/api/auth/get', {
            method: 'GET',
            headers: {
                'Authorization': 'Bearer ' + token,
                'Content-Type': 'application/json'
            }
        })
            .then(response => response.json())
            .then(data => {
                // Ajouter les options au menu déroulant
                var select = document.getElementById('personnes');
                var selectBloc = document.getElementById('personnesBloc');
                data.forEach(function (personne) {
                    var option = document.createElement('option');
                    option.value = personne._id;
                    option.textContent = personne.firstname + ' ' + personne.name;
                    var optionB = document.createElement('option');
                    optionB.value = personne._id;
                    optionB.textContent = personne.firstname + ' ' + personne.name;
                    select.appendChild(option);
                    selectBloc.appendChild(optionB);
                })
            })
            .catch(error => console.error('Erreur lors de la requête:', error));
    }

    function ajouterVoie() {
        // Récupérer les valeurs des champs du formulaire
        var secteur = document.getElementById('secteur').value;
        var couleur = document.getElementById('couleur').value;
        var cotation = document.getElementById('difficulte').value;
        var ouvreur = document.getElementById('personnes').value;
        const image = document.getElementById('image').files[0];

        if (secteur === "" || couleur === "" || cotation === "" || ouvreur === "") {
            erreurVoie.style.display = "block";
        } else {
            const formData = new FormData();
            formData.append('voie', JSON.stringify({
                secteur: secteur,
                couleur: couleur,
                ouvreur: ouvreur,
                cotation: cotation,
                commentaire: 'COMMENTAIRE'
            }));
            formData.append('image', image);

            const token = localStorage.getItem('token');

            fetch('http://localhost:3000/api/voies', {
                method: 'POST',
                headers: {
                    'Authorization': 'Bearer ' + token
                },
                body: formData
            })
                .then(response => response.json())
                .then(data => console.log(data))
                .catch(error => console.error('Erreur lors de la requête:', error));
        }
        formulaireContainerVoie.style.display = 'none';
        erreurVoie.style.display = "none";
        location.reload();
    }

    function ajouterBloc() {
        // Récupérer les valeurs des champs du formulaire
        var secteur = document.getElementById('secteurBloc').value;
        var couleur = document.getElementById('couleurBloc').value;
        var cotation = document.getElementById('difficulteBloc').value;
        var ouvreur = document.getElementById('personnesBloc').value;
        const image = document.getElementById('imageBloc').files[0];

        if (secteur === "" || couleur === "" || cotation === "" || ouvreur === "") {
            erreurBloc.style.display = "block";
        } else {
            const formData = new FormData();
            formData.append('bloc', JSON.stringify({
                secteur: secteur,
                couleur: couleur,
                ouvreur: ouvreur,
                cotation: cotation,
                commentaire: 'COMMENTAIRE'
            }));
            formData.append('image', image);

            const token = localStorage.getItem('token');

            fetch('http://localhost:3000/api/blocs', {
                method: 'POST',
                headers: {
                    'Authorization': 'Bearer ' + token
                },
                body: formData
            })
                .then(response => response.json())
                .then(data => console.log(data))
                .catch(error => console.error('Erreur lors de la requête:', error));
        }
        formulaireContainerBloc.style.display = 'none';
        erreurBloc.style.display = "none";
        location.reload();
    }

    document.addEventListener('DOMContentLoaded', () => {
        // Charge la liste des personnes existantes lors du chargement de la page
        chargerPersonnes();
    });

    var fermerFormulaireVoieBtn = document.getElementById('fermerFormulaireVoie');
    var erreurVoie = document.getElementById("erreurVoie");
    var afficherFormulaireVoieBtn = document.getElementById('afficherFormulaireVoie');
    var formulaireContainerVoie = document.getElementById('formulaireContainerVoie');

    var fermerFormulaireBlocBtn = document.getElementById('fermerFormulaireBloc');
    var erreurBloc = document.getElementById("erreurBloc");
    var afficherFormulaireBlocBtn = document.getElementById('afficherFormulaireBloc');
    var formulaireContainerBloc = document.getElementById('formulaireContainerBloc');

    // Fermeture des formulaires
    fermerFormulaireVoieBtn.addEventListener('click', function () {
        formulaireContainerVoie.style.display = 'none';
        erreurVoie.style.display = "none";
    });

    fermerFormulaireBlocBtn.addEventListener('click', function () {
        formulaireContainerBloc.style.display = 'none';
        erreurBloc.style.display = "none";
    });

    // Ouverture des formulaires
    afficherFormulaireVoieBtn.addEventListener('click', function () {
        formulaireContainerVoie.style.display = 'block';
        formulaireContainerBloc.style.display = 'none';
        erreurBloc.style.display = "none";
    });

    afficherFormulaireBlocBtn.addEventListener('click', function () {
        formulaireContainerBloc.style.display = 'block';
        formulaireContainerVoie.style.display = 'none';
        erreurVoie.style.display = "none";
    });



</script>
</body>
</html>
